{% extends 'base.html' %}

{% block title %}
About Page
{% endblock %}

{% block content %}
    <h1 class="text-center">Just a Little About Me</h1>
    <p class="container text-center">Hello! My name is Dejanirra, I am a proud mom of 4 that is working hard to acheive my goals in Software Development. 
        It is a challenging but rewarding field that I really enjoy.
        I am excited to continue learning and growing as a developer, and I am grateful for the opportunity to share my journey with my fellow classmates!
        Also, I love pink, purple and cute things, so I am always looking for new ways to incorporate them into my projects!</p>
{% endblock %}