{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
    <h1 class="text-center">Welcome to My Blog!</h1>
    <p class="text-center">Hello everyone, this is a place where I will be sharing my thoughts, experiences, and projects related to software development. I am excited to connect with other developers and share my journey in this field. Stay tuned for updates and feel free to reach out if you have any questions or want to collaborate on a project!</p>
{% endblock %}


